<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <!--Main navbar-->
        <nav>

        </nav>
        
        <div id="main-section">
            <!--Rooms sidebar-->
            <nav id="sidebar">
                <h4>Rooms</h4>
                {% for room in rooms %}
                    <p class="select-room">{{ room|title }}</p>
                {% endfor %}
            </nav>
            <!--Display Messages Section-->
            <div id="display-message-section">

            </div>
            <!--Text Area-->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">Send</button>
            </div>
        </div>

        <!--get username-->
        <script type="text/javascript">
            const username = `{{ username }}`;
        </script>

        <!--Custom chat js file-->
        <script src="{{ url_for('static', filename='scripts/chat_page.js') }}">

        </script>

        <!--SocketIO JS-->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

        <!--Custom SocketIO JS-->
        <script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>
    </body>
</html>